url: "https://jaredwhite.com"
timezone: America/Los_Angeles

permalink: simple
content_engine: resource
template_engine: serbea

collections:
  now_entries:
    output: true
    sort_direction: descending
  newsletters:
    output: false # we'll just reference them from an archive page, but the actual issues are legacy static files
    sort_direction: descending
  podcast:
    output: true
    sort_direction: descending
  projects:
    output: false
    sort_by: order
    sort_direction: ascending

pagination:
  enabled: true
  title: ":title (pg. :num)"
  per_page: 15
