<responsive-sidebar>
  <button id="nav-tab" onclick='
    if (this.parentNode.getAttribute("open") === "") {
      this.parentNode.removeAttribute("open")
      document.querySelector("main-content").removeAttribute("underneath")
    } else {
      this.parentNode.setAttribute("open", "")
      document.querySelector("main-content").setAttribute("underneath", "")
    }
  '>
    <sl-icon library="remixicon" name="system/menu"></sl-icon>
  </button>
  <nav>
    <h2 style="margin-top:0">Explore</h2>

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/posts">Posts</a></li>
    </ul>

    <h2>Subscribe</h2>

    <p>Fresh insight in your inbox twice a month with the <strong><a href="https://www.getrevue.co/profile/creatorclass">Creator Class</a></strong> newsletter.</p>

    <div id="revue-embed">
      <form action="https://www.getrevue.co/profile/creatorclass/add_subscriber" method="post" id="revue-form" name="revue-form">
        <p class="revue-form-group">
          <label for="member_email">Email address</label>
          <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </p>
        <p class="revue-form-group">
          <label for="member_first_name">First name <span class="optional">(Optional)</span></label>
          <input class="revue-form-field" placeholder="First name... (Optional)" type="text" name="member[first_name]" id="member_first_name">
        </p>
        
        <p class="revue-form-actions text-center">
          <button type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
            <sl-icon library="remixicon" name="business/mail-send"></sl-icon>
            Subscribe
          </button>
        </p>
        <small><div class="revue-form-footer">By subscribing, you agree with Revue’s <a target="_blank" href="https://www.getrevue.co/terms">Terms</a> and <a target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a></div></small>
      </form>
    </div>

    <h2>Follow</h2>

    <ul>
      <li><a href="https://twitter.com/jaredcwhite">
        <sl-icon library="remixicon" name="logos/twitter-fill" style="margin-right:8px"></sl-icon>Twitter
      </a></li>
      <li><a href="https://jaredcwhite.tumblr.com">
        <sl-icon library="remixicon" name="logos/tumblr-fill" style="margin-right:8px"></sl-icon>Tumblr
      </a></li>
      <li><a href="https://github.com/jaredcwhite">
        <sl-icon library="remixicon" name="logos/github-fill" style="margin-right:8px"></sl-icon>GitHub
      </a></li>
    </ul>

    <h2>Tumblr Photos</h2>

    <tumblr-photos src="https://jwadmin.whitefusion.studio/tumblr/photos"></tumblr-photos>

    <h2>Popular Tags</h2>

    <ul>
      <li><a href="/tag/portland/"><strong>#</strong>portland</a></li>
      <li><a href="/tag/oregonexplored/"><strong>#</strong>oregonexplored</a></li>
      <li><a href="/tag/apple/"><strong>#</strong>Apple</a></li>
      <li><a href="/tag/creativity"><strong>#</strong>creativity</a></li>
      <li><a href="/tag/spirituality/"><strong>#</strong>spirituality</a></li>
      <li><a href="/tag/mindfulness/"><strong>#</strong>mindfulness</a></li>
      <li><a href="/tag/lifehacks/"><strong>#</strong>lifehacks</a></li>
      <li><a href="/tag/openweb/"><strong>#</strong>openweb</a></li>
      <li><a href="/tag/minimalism/"><strong>#</strong>minimalism</a></li>
      <li><a href="/tag/writing/"><strong>#</strong>writing</a></li>
    </ul>
  </nav>
</responsive-sidebar>